*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COLORS */

:root {
    --display: #232323;
    --btn-dark: #3B3B3B;
    --btn-light: #616161;
    --btn-light-clicked: #777777;
    --btn-accent: #ff950b;
    --btn-accent-clicked: #d68709;
    --btn-accent-active: #ff950bd3;
    --text: #f5f5f5;
}

/*  */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(255,252,250);
    background: radial-gradient(circle, rgba(255,252,250,1) 70%, rgba(255,242,231,1) 100%);
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 30px;
    justify-items: center;
    align-items: center;
}

.calculator {
    width: 235px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.98;
}

/* DISPLAY */

#calculator-display {
    background-color: var(--display);
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.display-text {
    color: var(--text);
    font-size: 40px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-weight: 100;
}

/* BUTTONS */

#calculator-buttons {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--display);
    border-radius: 0;
    color: var(--text);
    font-size: 23px;
}

.button.dark {
    background-color: var(--btn-dark);
}

.button.dark.clicked {
    background-color: var(--btn-light);
}

.button.operator {
    background-color: var(--btn-accent);
}

.button.operator.active {
    background-color: var(--btn-accent-active);
}

.button.equals {
    background-color: var(--btn-accent);
}

.button.operator.clicked,
.button.equals.clicked {
    background-color: var(--btn-accent-clicked);
}

.button.number,
.button.period {
    background-color: var(--btn-light);
}

.button.number.clicked,
.button.period.clicked {
    background-color: var(--btn-light-clicked);
}

#Backspace {
    grid-column: 2 / 4;
}

.zero {
    grid-column: 1 / 3;
}

/* FOOTER */

.footer-copyright {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.footer-logo {
    width: 18px;
    opacity: 1;
}

footer * p {
    color: var(--display);
    font-size: 12px;
}